 <!DOCTYPE html>
<html>
<head>
	<title>IkeSells...home</title>
	<link rel="stylesheet" href="static/projectstyle.css" type="text/css">

</head>
<body>
    <table align="center" >
    	<tr >
    	 <!--   <td style="margin:left">
    			<h4 style="float:left;border:2px">iketion</h4> 
    		</td>
    		<td>
    		<form>
    		<input type="text" name="search" placeholder="search for everything" style="float:left;margin-top:0px"></td>
    		<td><button type="submit" label="searchButton" width="18px" height="18px" >Go</button>
    		</form>
    		<td>
    			<a href="">Login</a>
    		</td> -->
    	</tr>
    </table> 
    
    <div style="background-color:#050a1a; padding: 10px 10px 0 10px;">
    <table align="center" id="nav">
    	<tr>
    		<!--<td><img src="static/logo.png" style="height="30%"; width="10%"; "></td>-->
    		<td>
    			<h4 style="color:white; margin-right: 100px;">IkeSells</h4> 
    		</td>
    		<td>
    		<input type="text" name="search" placeholder="search for everything" style="position: relative; margin-left:5px; height: 30px; margin-top: 10px;"></td>
    		<td><button type="submit" label="searchButton" width="18px" height="18px" style="position:relative; margin-left: 10px;">Go</button></td>
    		<!--<td><a href="">Login</a></td> -->
    		<td><a href="index.html">Home</a></td>
    		<td><a href="signin.html">Log In</a></td>
    		<td><a href="categories.html">Categories</a></td>
    		 <td><a href="aboutus.html">About us</a></td>
    		
    		
    	</tr>
    </table>
    </div>
    
   <!-- <img src="happy.png" width="100%" height="400px" alt="watch">-->
   <a href="" onmouseover="document.me.src='static/cover/ff.jpg'" onmouseout="document.me.src='static/cover/bb.jpg'">
   	<img src="static/cover/bb.jpg" name="me" width="100%" height="400px">  
   </a>
    <h2 align="center" style="color:#050a1a;"><u>YOU MIGHT LIKE THESE</u></h2>
    <table cellspacing="70px">  
         <tr >
           <td> <div class="card">
    	        <img src="static/home/afro1.jpg" alt="icon" width="50%" height="100%">
    	    <div class="container">
    		    <h4>African wear</h4>
              <h4>Price: GHC85</h4>
    		<a href="">Add to cart</a>
    	</div>
    </div></td>
    <td><div class="card">
    	<img src="static/home/shoe.jpg" alt="icon" width="50%" height="100%">
    	<div class="container">
    		<h4>Sneaker(adidas)</h4>
            <h4>Price: GHC120</h4>
    		<a href="">Add to cart</a>
    	</div>
        </div></td>

        <td><div class="card">
    	<img src="static/home/shirt.jpg" alt="icon" width="50%" height="100%">
    	<div class="container">
    		<h4>Gucci shirt</h4>
            <h4>Price: GHC130</h4>
    		<a href="">Add to cart</a>
    	</div>
        </div></td>

        <td><div class="card">
    	<img src="static/home/belt.jpg" alt="icon" width="50%" height="100%">
    	<div class="container">
    		<h4>Belt</h4>
            <h4>Price: GHC30</h4>
    		<a href="">Add to cart</a>
    	</div>
        </div></td>
      </tr>	
    </table>
     
     <h2 align="center" style="color:#050a1a;"><u>LATEST DEALS</u></h2>
    <table cellspacing="70px">  
         <tr >
           <td> <div class="card">
    	        <img src="static/home/trou.jpg" alt="icon" width="50%" height="100%">
    	    <div class="container">
    		    <h4>Trouser</h4>
                <h4>Price: GHC45</h4>
    		<a href="">Add to cart</a>
    	</div>
    </div></td>
    <td><div class="card">
    	<img src="static/home/huawei.jpg" alt="icon" width="50%" height="100%">
    	<div class="container">
    		<h4>Huawei mate-8</h4>
            <h4>Price: GHC2000</h4>
    		<a href="">Add to cart</a>
    	</div>
        </div></td>

        <td><div class="card">
    	<img src="static/home/afro2.jpg" alt="icon" width="50%" height="100%">
    	<div class="container">
    		<h4>Afican wear</h4>
            <h4>Price: GHC70</h4>
    		<a href="">Add to cart</a>
    	</div>
        </div></td>

        <td><div class="card">
    	<img src="static/electronics/laptop.jpg" alt="icon" width="50%" height="100%">
    	<div class="container">
    		<h4>hpLaptop</h4>
            <h4>Price: GHC1450</h4>
    		<a href="">Add to cart</a>
    	</div>
        </div></td>
      </tr>	
    </table>

     <div align="center" style="background-color:#151d35; ">
      	<a style="color:white; text-decoration:none"  href="">Back to Top</a>
      </div>
          <div style="background-color:#050a1a; padding:20px; "class="footer">
          	<table align="center" cellspacing="20px" cellpadding="0.5px" id="footers">
          		
          		<tr>

		<th align="left"><u><b>Links</b></u></th>
		<th align="left"><u><b>Others</b></u></th>
		<th align="left"><u><b>Catch on Social</b></u></th>
	</tr>

	<tr>
	
		<td><a href="project.html">Home</a></td>
		<td><a href="policy.html">Privacy Policy</a></td>
		<td><a href=" https://www.facebook.com/isaac.duffour.3">Facebook</a></td>
	</tr>
    <tr>
		<td><a href="aboutus.html">About Us</a></td>
		<td><a href="">FAQ</a></td>
		<td><a href="http//twiter.com/_the_ike?s=08">Twitter</a></td>
	</tr>
    <tr>
		<td><a href="contactus.html">Contact Us</a></td>
		<td><a href="contactus.html">Support</a></td>
		<td><a href="instagram.com/_the_ike_">Instagram</a></td>
	</tr>
          	</table>
          </div>
</body>
</html>
